
/* For small size */
body{
    margin:0;
    padding:0;
    position:relative;
}    

.header{
        height: 5%;
        position:fixed;
        width:100%;
        top: 0;
        left: 0;
        background-color:grey;
        padding: 20px 10px;
        overflow:hidden;
        min-height: 40px;
}
    
/*Sets size and location of logo in header*/
.logo{
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        width: 150px;
        margin: 0px;
}

/*Makes the nav element a grid to hold the two menu buttons so that it can be easily moved for larger sizes */
nav{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-gap:10%;
    width:8%;
    min-width: 100px;
    position:absolute;
    top: 5%;
    left:5%;
    height:80%;
    
}

/*sets style for nav links*/
nav a{
    text-decoration: none;
    background-color:lightgrey;
    border: 1px solid black;
    color:black;
    font-family:sans-serif;
    text-align:center;
    margin-top:10px
    border-style:black groove;
    padding:5%;
    width:80%;
}


/*changes color of background on hover for links*/
a:hover{
    background-color:lightblue;
}

/*sets area for first section*/
.firstsec{
    width:100%;
<<<<<<< HEAD
    margin-top:100px;
    background-color:lightgrey;
    text-align: center;
=======
    margin-top:120px;
    background-color:lightsteelblue;
    padding:10px;
    height:400px;
}

/*sets text alignment for first section*/
.firstsec h1{   
    text-align:center;
}

.firstsec h2{
    text-align:center;
}
/*sets the lines shown in first box*/
.wideline{
    width:60%;
    color:black;
>>>>>>> eabd8e37a712d30c7e6a695ff6508935ee2cb15e
}

.thinline{
    width:50%;
    color:black;
}
/*sizing and positioning for relevent image*/
.relevantimg{
        width:200px;
        height:200px;
      
}


.grid-container {
    width: 90%;
    margin-top: 20px;
    display: grid;
    gap: 10px 10px;
    margin-left:5%;
    
grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "c1 c1"
    "c2 c2"
    "c3 c3"
    "c4 c4";
}
    
.c1 {
    grid-area: c1;
    background-color: grey;
}

.c2 {
    grid-area: c2;
    background-color: grey;
}

.c3 {
    grid-area: c3;
    background-color: grey;
}

.c4 {
    grid-area: c4;
    background-color: grey;
}


/*Aligns text for contact paragraph to center*/

.acontact{
    text-align: center;
    font-size: 125%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3em;
}
    /*Increases size of first letter*/

.acontact::first-letter{
    font-size: 200%;
}

form{
    display:block;
    border: 2px solid;
    border-color: darkgray;
    background-color:whitesmoke;
    border-radius: 4px;
    width: 600px;
    margin: 0 auto;

}

form p{
    
    margin-left: 1em;
}

textarea{
    
    width: 95%;
    height: 100px;
    padding: 1% 1%;
    margin: 0.75em
    
}

input[type=text]{
    
    width: 89.2%;
    padding: 1% 1%;
    margin: 0.7em
}

.button{
    margin-right: 5em;
    padding: 0.5em 1em;
}
    
span{
    color: red;
}

.headsup{
    color:grey;
    font-size: 80%
}

#cf {
    margin-top: 20px;
    margin-bottom: 20px;

}





/* For medium size */
@media (min-width: 800px) {
    
    /*places logo on left side of header bar*/
    .logo{
        margin: 0px 0px 0px 20px;
        left: 0%;
        transform:translate(0, -50%);
    }
    /*places nav buttons horizontally aligned on right side of bar*/
    nav{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        left:auto; 
        right:10%;
        top:30%;
        width:200px;
        height:40%;
    }
    
.grid-container {
    width: 90%;
    display: grid;

    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "c1 c2"
        "c3 c4";
}
    

}



