ul {
    background-color: grey;
    margin: 0;    
    padding: 0;
    overflow: hidden;
    list-style-type: none;   
}

li {
    float: left;  
}

li a {
    display: block;
    color: white;
    text-decoration: none;  
    padding: 0.4em 2em;
    background-color: grey;
    font-weight: bold;
}

li a:hover {
    background-color:darkslateblue;
}

.active { 
    background-color: lightsteelblue;
    
}

    /* This is to center the logo and set size --> */

.logo{
    height: 6em;
    width: 12em;
    margin: 0.8em;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}



hr{
    margin-bottom: 3em;
}